<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/operation" method="POST">
        <select name="math" id="math">
            <option value="add">Addition</option>
            <option value="sub">Substraction</option>
            <option value="mul">Multiplication</option>
            <option value="div">Division</option>
        </select>

        <input type="text" name="num1" id="num1">
        <input type="text" name="num2" id="num2">
        <input type="submit" value="Calculate">
    </form>
    <style>
            body{
        background:
               /* top, transparent black, faked with gradient */ 
               linear-gradient(
                 rgba(0, 0, 0, 0.7), 
                 rgba(0, 0, 0, 0.7)
               ),
               /* bottom, image */
               url(https://images.unsplash.com/photo-1614030424754-24d0eebd46b2);
           }
    </style>
       
</body>
</html>